## 문자열

In [1]:
a='Python'
print(a)
print(a[0])
print(a[-6])
print(a[5])
print(a[-1])

Python
P
P
n
n

In [2]:
name='Henny'
# name[0]='P'

name.replace('H','P')
print(name)

v=name.replace('H','P')
print(v)

print(name[1:])
print('P'+name[1:])

a='P'+name[1:]
print(a)

Henny
Penny
enny
Penny
Penny

In [ ]:
letters='abcdefghijklmnopqrstuvwxyz'

letters[:]
letters[10:]  
letters[12:15]
letters[-3:]
letters[18:-3]
letters[-6:-2]
letters[::7]
letters[4:20:3]
letters[19::4]

In [ ]:
a="Hello! Let's learn python"
print(a)

a[1]
a[1:4]
a[1:]
a[10]
a[-1]

## 튜플

In [ ]:
empty_1 = ()
type(empty_1)

one_marx='Groucho',   # method 1
one_marx
one_marx=('Groucho',)  # method 2
one_marx
type(one_marx)

tuple1 = (1,2,3,4)

### 존재여부 확인

In [ ]:
a = 1 in (1, 2, 3)
print(a)

print()

True

## 리스트