In [ ]:
import pandas as pd
import numpy as np

# 온보딩 (6) : 데이터연산

In [ ]:
s1 = pd.Series([i for i in range(1, 7, 1)])
s2 = pd.Series([i for i in range(10, 60, 10)])

# print(s1 + s2)
# print(s1 / s2)

# s1.add(s2, fill_value = 0)
# s1.divide(s2, fill_value = 0)

df1 = pd.DataFrame({'A' : [i for i in range(1, 6, 1)], 
                    'B' : [i for i in range(10, 60, 10)], 
                    'C' : [i for i in range(100, 600, 100)]})
df2 = pd.DataFrame({'A' : [i for i in range(6, 9, 1)], 
                    'B' : [i for i in range(60, 90, 10)], 
                    'C' : [i for i in range(600, 900, 100)]})

df1.add(df2, fill_value = 0)
df1.mean()
df1.describe()

# 온보딩(7) : 데이터 인덱싱

In [ ]:
KTX_data = {'경부선 KTX':[39060,39896,42005,43621,41702,41266,32427],
            '호남선 KTX':[7313,6967,6873,6626,8675,10622,9228],
            '경전선 KTX':[3627,4168,4088,4424,4606,4984,5570],
            '전라선 KTX':[309,1771,1954,2244,3146,3945,5766],
            '동해선 KTX':[np.nan,np.nan,np.nan,np.nan,2395,3786,6667]}

col_list = ['경부선 KTX', '호남선 KTX', '경전선 KTX', '전라선 KTX', '동해선 KTX']
index_list = ['2011','2012','2013','2014','2015','2016','2017']
df3 = pd.DataFrame(KTX_data, columns=col_list, index=index_list)

In [ ]:
# 행 인덱싱
print(df3[0:1], end='\n\n')
print(df3.iloc[0:1], end='\n\n')

# 열 인덱싱
print(df3['경부선 KTX'], end='\n\n')
print(df3.loc[['2011']], end='\n\n')

# 복합 인덱싱
print(df3['경부선 KTX']['2011':'2014'])

In [ ]:
# 복합 인덱싱
# print(df3.iloc[:, 2:5])
# print(df3.loc[:, '호남선 KTX':])
# print(df3.loc['2012':'2014', '경전선 KTX':])

## 열의 항목을 지정해 열의 순서를 변경
# df3[['동해선 KTX', '전라선 KTX', '경전선 KTX']]

## 목록을 리스트로 바꾸기
arr1 = df3.columns.tolist()
arr2 = df3.values.tolist()
arr3 = df3.index.tolist()
arr4 = df3['경부선 KTX'].tolist()
arr5 = df3.loc['2011'].tolist()

## 조건 기반 인덱싱
df3[df3.index >= '2016']
df3[df3.index < '2016']
df3[df3.index == '2016']

## loc vs iloc
df3.loc['2011']
df3.loc['2011':'2013']
df3.loc[['2011','2013']]

# 온보딩 (8) : 데이터 통합

In [66]:
df1 = pd.DataFrame({'c1': [95,92,98,100],
                    'c2': [91,93,97,99]})
df2 = pd.DataFrame({'c1': [87,89],
                    'c2': [85,90]})
df4 = pd.DataFrame({'c3': [93,91,95,98]})

In [67]:
# 세로로 합치기
pd.concat([df1, df2])
pd.concat([df1, df2], ignore_index = True)

# 가로로 합치기
df1.join(df4)

    c1  c2  c3
0   95  91  93
1   92  93  91
2   98  97  95
3  100  99  98

In [70]:
# index가 같은 경우
index_label = ['a', 'b', 'c', 'd']

df1 = pd.DataFrame({'c1': [95,92,98,100],
                    'c2': [91,93,97,99]}, index=index_label)
df4 = pd.DataFrame({'c3': [93,91,95,98]}, index=index_label)
df5 = pd.DataFrame({'c3': [82, 93]})
print(df1.join(df4))
print(df1.join(df5))

    c1  c2  c3
a   95  91  93
b   92  93  91
c   98  97  95
d  100  99  98
    c1  c2  c3
a   95  91 NaN
b   92  93 NaN
c   98  97 NaN
d  100  99 NaN

In [73]:
df5 = pd.DataFrame({'판매월': ['1월','2월','3월','4월'],
                    '제품A': [100,150,200,130],
                    '제품B': [90,110,140,170]})
df6 = pd.DataFrame({'판매월': ['1월','2월','3월','4월'],
                    '제품C': [112,141,203,134],
                    '제품D': [90,110,140,170]})

df5.merge(df6)

  판매월  제품A  제품B  제품C  제품D
0  1월  100   90  112   90
1  2월  150  110  141  110
2  3월  200  140  203  140
3  4월  130  170  134  170

In [74]:
df5 = pd.DataFrame({'key' : ['A', 'B', 'D'], 'left' : [1,2,3]})
df6 = pd.DataFrame({'key' : ['A', 'B', 'C'], 'right' : [4,5,6]})

df5.merge(df6, how='left', on='key')
df5.merge(df6, how='right', on='key')
df5.merge(df6, how='left', on='key')
df5.merge(df6, how='left', on='key')

  key  left  right
0   A     1    4.0
1   B     2    5.0
2   D     3    NaN

# 온보딩 (9) : 데이터 읽기
CSV에 쓰기

In [76]:
df_WH = pd.DataFrame({'Weight' : [62, 67, 55, 74],
                      'Height': [165, 177, 160, 180]},
                      index = ['ID_1', 'ID_2', 'ID_3', 'ID_4'])
df_WH.index.name = 'User'
df_WH['BMI'] = df_WH['Weight'] / ((df_WH['Height'] / 100) ** 2)
df_WH

# 윈도우에 저장
# df_WH.to_csv("./save_df.csv")

# 윈도우에서 파일 확인하기
# !type ./save_df.csv

      Weight  Height        BMI
User
ID_1      62     165  22.773186
ID_2      67     177  21.385936
ID_3      55     160  21.484375
ID_4      74     180  22.839506

# 온보딩 (10) : 데이터 추출하기

In [ ]:
exam = pd.read_csv("./exam.csv")
exam.head()

exam.query('nclass == 2')
exam.query('nclass == 2 & english > 80')

exam.query('nclass in [1, 3, 5]')

In [ ]:
data = {'sex' : ["F", "M", "F", "M"],
        'country' : ['Korea', 'China', 'Japan', 'USA'] }
data = pd.DataFrame(data)
data.query("sex == 'F' & country == 'Korea'")
exam['math']
exam[['nclass', 'math']]

# 특정 행을 제외하기
exam.drop(columns= 'math')

# 온보딩 (11) : 데이터 전처리

In [ ]:
# 1반 학생들의 영어 점수
# exam.query('nclass == 1')[['english']]

# 수학 점수가 50점 이상인 학생의 id와 math 추출
exam.query('math >= 50')[['id', 'math']]

# math가 50점 이상 중 id, math 앞부분 5행만 추출
exam.query('math >= 50')[['id', 'math']].head()

# 특정 변수 기준 정렬
exam.sort_values('math', ascending=True)

# 파생변수 만들기
exam.assign(total = exam['math'] + exam['english'] + exam['science'])

exam.assign(total = exam['math'] + exam['english'] + exam['science'],
            mean = (exam['math'] + exam['english'] + exam['science']) / 3)

exam.assign(test = np.where(exam['science'] >= 60, 'pass', 'fail'))

# 집단별로 요약하기
exam.agg(mean_math = ('math', 'mean'))
exam.groupby('nclass').agg(mean_math = ('math', 'mean'))
exam.groupby('nclass')['math'].mean()